body{
    padding:50px 100px;            
}

h1{
    text-align: center;
    font-size: 40px;
}

#container{
    text-align: center;
    background-color: brown;
    padding: 50px;
}

.input-div{
    display: inline-block;
}

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

label{
    font-size: 22px;
    color:white;
}